---
import { getCollection } from "astro:content";
import Layout from "@layouts/Layout.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import LinkButton from "@components/LinkButton.astro";
import Hr from "@components/Hr.astro";
import Card from "@components/Card";
import Socials from "@components/Socials.astro";
import getSortedPosts from "@utils/getSortedPosts";
import { SOCIALS } from "@config";

const posts = await getCollection("blog");

const sortedPosts = getSortedPosts(posts);
const featuredPosts = sortedPosts.filter(({ data }) => data.featured);
const recentPosts = sortedPosts.filter(({ data }) => !data.featured);

const socialCount = SOCIALS.filter(social => social.active).length;
---

<Layout>
  <Header />
  <main id="main-content">
    <section id="hero">
      <header>
        <!-- Hero Container -->
        <div
          class="mx-auto w-full max-w-7xl px-5 py-16 md:px-10 md:py-24 lg:py-32"
        >
          <!-- Component -->
          <div
            class="grid items-center justify-items-start gap-8 sm:gap-20 lg:grid-cols-2"
          >
            <!-- Hero Content -->
            <div class="flex flex-col">
              <!-- Hero Title -->
              <h1 class="mb-4 text-4xl font-bold md:text-6xl">
                Your Ultimate Palworld Companion
              </h1>
              <p
                class="mb-6 max-w-lg text-sm text-[#636262] sm:text-xl md:mb-10 lg:mb-12"
              >
                Embark on an enhanced Palworld journey with comprehensive tools,
                tips, and expert advice. Join the largest platform for Palworld
                players worldwide.
              </p>
              <!-- Hero Button -->
              <div class="flex items-center">
                <a
                  href="/tools"
                  class="mr-5 items-center rounded-md bg-black px-6 py-3 font-semibold text-white md:mr-6 lg:mr-8"
                  >Discover Tools</a
                >
                <a
                  href="#advice"
                  class="flex max-w-full items-center font-bold"
                >
                  <img
                    src="https://assets.website-files.com/6458c625291a94a195e6cf3a/6458c625291a94bd85e6cf98_ArrowUpRight%20(4).svg"
                    alt="Explore Advice"
                    class="mr-2 inline-block max-h-4 w-5"
                  />
                  <p>Expert Advice</p>
                </a>
              </div>
            </div>
            <!-- Hero Image -->
            <img
              src="public/Palworld_banner.jpg"
              alt="Explore Palworld Tools and Tips"
              class="inline-block h-full w-full max-w-[640px]"
            />
          </div>
        </div>
      </header>

      <p>
        PalworldHelper is dedicated to enhancing your gaming experience with a
        vast array of tools and resources. Our platform is tailored for both
        novice and veteran Palworld players, offering an accessible, responsive,
        and SEO-optimized environment.
      </p>
      <p>
        Dive into our extensive collection of articles, guides, and insights, or
        explore our
        <LinkButton
          className="underline decoration-dashed underline-offset-4 hover:text-skin-accent"
          href="#resource-library"
        >
          Resource Library
        </LinkButton> for in-depth tools and strategies.
      </p>
    </section>

    <section>
      <!-- Container -->
      <div
        class="mx-auto w-full max-w-7xl px-5 py-16 md:px-10 md:py-24 lg:py-32"
      >
        <!-- Component -->
        <!-- TEXT DIV -->
        <div
          class="mx-auto flex max-w-[550px] flex-col items-center justify-center px-6 text-center lg:max-w-[800px] lg:px-10"
        >
          <h1
            class="mx-auto text-center font-bold text-black lg: text-3xl lg:text-4xl"
          >
            Frequently Asked Questions
          </h1>
          <p
            class="font-inter mt-4 max-w-[600px] px-5 text-center text-base font-light text-[#71717A] lg:max-w-[500px] lg:"
          >
            Explore our FAQs to get insights into Palworld Helper and how it can
            enhance your gaming experience.
          </p>
        </div>
        <!-- FAQs -->
        <div
          class="mt-10 flex flex-col justify-between lg:flex-row lg:flex-wrap"
        >
          <!-- FAQ CONTAINER LEFT -->
          <div
            class="mx-4 flex max-w-[800px] flex-col lg:shrink lg:grow lg:basis-[400px]"
          >
            <!-- FAQ BLOCK -->
            <div
              class="relative my-3 w-full rounded-md border border-[#CDCDCD] px-12 py-8"
            >
              <h2 class="font-bold text-black text-xl">
                What is Palworld Helper?
              </h2>
              <p class="font-inter mt-4 text-base font-light text-gray-500">
                Palworld Helper is a comprehensive guide and toolset designed to
                enhance the gameplay of Palworld players, offering strategies,
                tips, and calculators.
              </p>
            </div>
            <!-- FAQ BLOCK -->
            <div
              class="relative my-3 w-full rounded-md border border-[#CDCDCD] px-12 py-8"
            >
              <h2 class="font-bold text-black text-xl">
                How can I use the Breeding Calculator?
              </h2>
              <p class="font-inter mt-4 text-base font-light text-gray-500">
                The Breeding Calculator helps you discover optimal breeding
                combinations for desired traits or specific offspring in
                Palworld.
              </p>
            </div>
            <!-- FAQ BLOCK -->
            <div
              class="relative my-3 w-full rounded-md border border-[#CDCDCD] px-12 py-8"
            >
              <h2 class="font-bold text-black text-xl">
                Is Palworld Helper updated regularly?
              </h2>
              <p class="font-inter mt-4 text-base font-light text-gray-500">
                Yes, we continuously update Palworld Helper with the latest game
                changes and community insights to provide current and accurate
                information.
              </p>
            </div>
            <!-- FAQ BLOCK -->
            <div
              class="relative my-3 w-full rounded-md border border-[#CDCDCD] px-12 py-8"
            >
              <h2 class="font-bold text-black text-xl">
                What resources are available for combat strategies in Palworld?
              </h2>
              <p class="font-inter mt-4 text-base font-light text-gray-500">
                Our Combat Strategy section includes various tools and guides to
                help you navigate and master combat scenarios in Palworld.
              </p>
            </div>
          </div>
          <!-- FAQ CONTAINER RIGHT -->
          <div
            class="mx-4 flex max-w-[800px] flex-col lg:shrink lg:grow lg:basis-[400px]"
          >
            <!-- FAQ BLOCK -->
            <div
              class="relative my-3 w-full rounded-md border border-[#CDCDCD] px-12 py-8"
            >
              <h2 class="font-bold text-black text-xl">
                How can new players get started with Palworld Helper?
              </h2>
              <p class="font-inter mt-4 text-base font-light text-gray-500">
                New players can utilize our beginner-friendly guides and tools
                to gain a solid understanding of Palworld's gameplay and
                mechanics.
              </p>
            </div>
            <!-- FAQ BLOCK -->
            <div
              class="relative my-3 w-full rounded-md border border-[#CDCDCD] px-12 py-8"
            >
              <h2 class="font-bold text-black text-xl">
                Can I find crafting guides on Palworld Helper?
              </h2>
              <p class="font-inter mt-4 text-base font-light text-gray-500">
                Yes, our Crafting Guide covers essential crafting techniques,
                recipes, and tips for efficient resource management in Palworld.
              </p>
            </div>
            <!-- FAQ BLOCK -->
            <div
              class="relative my-3 w-full rounded-md border border-[#CDCDCD] px-12 py-8"
            >
              <h2 class="font-bold text-black text-xl">
                Are there advanced tools for experienced Palworld players?
              </h2>
              <p class="font-inter mt-4 text-base font-light text-gray-500">
                Absolutely, our Advanced Tools section offers in-depth resources
                and calculators for experienced players seeking to further
                enhance their gameplay.
              </p>
            </div>
            <!-- FAQ BLOCK -->
            <div
              class="relative my-3 w-full rounded-md border border-[#CDCDCD] px-12 py-8"
            >
              <h2 class="font-bold text-black text-xl">
                Is there a community platform for Palworld players on the site?
              </h2>
              <p class="font-inter mt-4 text-base font-light text-gray-500">
                While we don't host a forum, our Discord channel provides a
                platform for players to discuss strategies, share tips, and
                engage with the community.
              </p>
            </div>
          </div>
        </div>
        <p class="font-inter mx-auto mt-12 text-center text-base text-gray-500">
          Can’t find the answer you’re looking for? Reach out to our <a
            href=""
            class="text-[black]">customer support team.</a
          >
        </p>
      </div>
    </section>

    <Hr />

    {
      featuredPosts.length > 0 && (
        <>
          <section id="featured">
            <h2>Featured</h2>
            <ul>
              {featuredPosts.map(({ data, slug }) => (
                <Card
                  href={`/posts/${slug}/`}
                  frontmatter={data}
                  secHeading={false}
                />
              ))}
            </ul>
          </section>
          {recentPosts.length > 0 && <Hr />}
        </>
      )
    }

    {
      recentPosts.length > 0 && (
        <section id="recent-posts">
          <h2>Recent Posts</h2>
          <ul>
            {recentPosts.map(
              ({ data, slug }, index) =>
                index < 4 && (
                  <Card
                    href={`/posts/${slug}/`}
                    frontmatter={data}
                    secHeading={false}
                  />
                )
            )}
          </ul>
        </section>
      )
    }

    <div class="all-posts-btn-wrapper">
      <LinkButton href="/posts/">
        All Posts
        <svg xmlns="http://www.w3.org/2000/svg"
          ><path
            d="m11.293 17.293 1.414 1.414L19.414 12l-6.707-6.707-1.414 1.414L15.586 11H6v2h9.586z"
          ></path>
        </svg>
      </LinkButton>
    </div>
  </main>

  <Footer />
</Layout>

<style>
  /* ===== Hero Section ===== */
  #hero {
    @apply pb-6 pt-8;
  }
  #hero h1 {
    @apply my-4 inline-block text-3xl font-bold sm:my-8 sm:text-5xl;
  }
  #hero .rss-link {
    @apply mb-6;
  }
  #hero .rss-icon {
    @apply mb-2 h-6 w-6 scale-110 fill-skin-accent sm:mb-3 sm:scale-125;
  }
  #hero p {
    @apply my-2;
  }
  .social-wrapper {
    @apply mt-4 flex flex-col sm:flex-row sm:items-center;
  }
  .social-links {
    @apply mb-1 mr-2 whitespace-nowrap sm:mb-0;
  }

  /* ===== Featured & Recent Posts Sections ===== */
  #featured,
  #recent-posts {
    @apply pb-6 pt-12;
  }
  #featured h2,
  #recent-posts h2 {
    @apply text-2xl font-semibold tracking-wide;
  }
  .all-posts-btn-wrapper {
    @apply my-8 text-center;
  }
</style>
