---
import { getCollection } from "astro:content";
import Layout from "@layouts/Layout.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import LinkButton from "@components/LinkButton.astro";
import Hr from "@components/Hr.astro";
import Card from "@components/Card";
import Socials from "@components/Socials.astro";
import getSortedPosts from "@utils/getSortedPosts";
import { SOCIALS } from "@config";

const posts = await getCollection("blog");

const sortedPosts = getSortedPosts(posts);
const featuredPosts = sortedPosts.filter(({ data }) => data.featured);
const recentPosts = sortedPosts.filter(({ data }) => !data.featured);

const socialCount = SOCIALS.filter(social => social.active).length;
---

<Layout>
  <Header />
  <main id="main-content">
    <section id="hero">
      <header>
        <!-- Hero Container -->
        <div
          class="mx-auto w-full max-w-7xl px-5 py-16 md:px-10 md:py-24 lg:py-32"
        >
          <!-- Component -->
          <div
            class="grid items-center justify-items-start gap-8 sm:gap-20 lg:grid-cols-2"
          >
            <!-- Hero Content -->
            <div class="flex flex-col">
              <!-- Hero Title -->
              <h1 class="mb-4 text-4xl font-bold md:text-6xl">
                Unleash Creativity with Sora
              </h1>
              <p
                class="mb-6 max-w-lg text-sm text-[#636262] sm:text-xl md:mb-10 lg:mb-12"
              >
                Transform your ideas into stunning videos with Sora, the
                ultimate text-to-video platform. Experience seamless content
                creation at your fingertips.
              </p>
              <!-- Hero Button -->
              <div class="flex items-center">
                <a
                  href="https://openai.com/sora"
                  class="mr-5 items-center rounded-md bg-black px-6 py-3 font-semibold text-white md:mr-6 lg:mr-8"
                  >Create Video</a
                >
                <a
                  href="#explore"
                  class="flex max-w-full items-center font-bold"
                >
                  <img
                    src="https://assets.website-files.com/6458c625291a94a195e6cf3a/6458c625291a94bd85e6cf98_ArrowUpRight%20(4).svg"
                    alt="Learn More"
                    class="mr-2 inline-block max-h-4 w-5"
                  />
                  <p>Learn More</p>
                </a>
              </div>
            </div>
            <!-- Hero Image -->
            <img
              src="/assets/Sora_Video_Banner.jpg"
              alt="Discover Sora's Text-to-Video Magic"
              class="inline-block h-full w-full max-w-[640px]"
            />
          </div>
        </div>
      </header>

      <p>
        Sora revolutionizes content creation by converting simple text into
        compelling video narratives. Our platform is designed for creators of
        all levels, offering an intuitive, responsive, and SEO-optimized
        environment.
      </p>
      <p>
        Explore our diverse collection of templates, tutorials, and insights, or
        dive into our <LinkButton
          className="underline decoration-dashed underline-offset-4 hover:text-skin-accent"
          href="#video-library">Video Library</LinkButton
        > for comprehensive tools and strategies.
      </p>
    </section>

    <section>
      <!-- Container -->
      <div
        class="mx-auto w-full max-w-7xl px-5 py-16 md:px-10 md:py-24 lg:py-32"
      >
        <!-- Component -->
        <!-- TEXT DIV -->
        <div
          class="mx-auto flex max-w-[550px] flex-col items-center justify-center px-6 text-center lg:max-w-[800px] lg:px-10"
        >
          <h1
            class="mx-auto text-center font-bold text-black lg: text-3xl lg:text-4xl"
          >
            Frequently Asked Questions
          </h1>
          <p
            class="font-inter mt-4 max-w-[600px] px-5 text-center text-base font-light text-[#71717A] lg:max-w-[500px] lg:"
          >
            Explore our FAQs to learn more about Sora and how it can
            revolutionize your video creation process.
          </p>
        </div>
        <!-- FAQs -->
        <div
          class="mt-10 flex flex-col justify-between lg:flex-row lg:flex-wrap"
        >
          <!-- FAQ CONTAINER LEFT -->
          <div
            class="mx-4 flex max-w-[800px] flex-col lg:shrink lg:grow lg:basis-[400px]"
          >
            <!-- FAQ BLOCK -->
            <div
              class="relative my-3 w-full rounded-md border border-[#CDCDCD] px-12 py-8"
            >
              <h2 class="font-bold text-xl">What is Sora?</h2>
              <p class="font-inter mt-4 text-base font-light text-gray-500">
                Sora is OpenAI's advanced text-to-video model that enables users
                to create high-quality videos from textual descriptions.
              </p>
            </div>
            <!-- FAQ BLOCK -->
            <div
              class="relative my-3 w-full rounded-md border border-[#CDCDCD] px-12 py-8"
            >
              <h2 class="font-bold text-xl">How does Sora work?</h2>
              <p class="font-inter mt-4 text-base font-light text-gray-500">
                Sora uses sophisticated AI algorithms to interpret text prompts
                and generate corresponding video content that visually
                represents the described scenes and actions.
              </p>
            </div>
            <!-- FAQ BLOCK -->
            <div
              class="relative my-3 w-full rounded-md border border-[#CDCDCD] px-12 py-8"
            >
              <h2 class="font-bold text-xl">
                Can I customize the videos created with Sora?
              </h2>
              <p class="font-inter mt-4 text-base font-light text-gray-500">
                Yes, Sora allows for customization of the generated videos,
                including adjusting video length, style, and incorporating
                specific visual elements as per the user's prompts.
              </p>
            </div>
            <!-- FAQ BLOCK -->
            <div
              class="relative my-3 w-full rounded-md border border-[#CDCDCD] px-12 py-8"
            >
              <h2 class="font-bold text-xl">Is Sora suitable for beginners?</h2>
              <p class="font-inter mt-4 text-base font-light text-gray-500">
                Absolutely, Sora is designed to be user-friendly, enabling both
                beginners and professionals to create videos effortlessly with
                simple text descriptions.
              </p>
            </div>
          </div>
          <!-- FAQ CONTAINER RIGHT -->
          <div
            class="mx-4 flex max-w-[800px] flex-col lg:shrink lg:grow lg:basis-[400px]"
          >
            <!-- FAQ BLOCK -->
            <div
              class="relative my-3 w-full rounded-md border border-[#CDCDCD] px-12 py-8"
            >
              <h2 class="font-bold text-xl">
                What types of content can I create with Sora?
              </h2>
              <p class="font-inter mt-4 text-base font-light text-gray-500">
                From educational videos to creative storytelling and marketing
                content, Sora can generate a wide range of video types based on
                textual inputs.
              </p>
            </div>
            <!-- FAQ BLOCK -->
            <div
              class="relative my-3 w-full rounded-md border border-[#CDCDCD] px-12 py-8"
            >
              <h2 class="font-bold text-xl">How do I get started with Sora?</h2>
              <p class="font-inter mt-4 text-base font-light text-gray-500">
                Getting started is easy. Simply sign up, enter your text prompt,
                and let Sora handle the rest to bring your video ideas to life.
              </p>
            </div>
            <!-- FAQ BLOCK -->
            <div
              class="relative my-3 w-full rounded-md border border-[#CDCDCD] px-12 py-8"
            >
              <h2 class="font-bold text-xl">
                Are there any tutorials available for Sora?
              </h2>
              <p class="font-inter mt-4 text-base font-light text-gray-500">
                Yes, we offer a range of tutorials and guides to help you
                maximize your use of Sora, covering everything from basic
                operations to advanced customization techniques.
              </p>
            </div>
            <!-- FAQ BLOCK -->
            <div
              class="relative my-3 w-full rounded-md border border-[#CDCDCD] px-12 py-8"
            >
              <h2 class="font-bold text-xl">
                Where can I find inspiration for my Sora projects?
              </h2>
              <p class="font-inter mt-4 text-base font-light text-gray-500">
                Our community platform and showcase section are great places to
                explore projects created by other Sora users and find
                inspiration for your own video creations.
              </p>
            </div>
          </div>
        </div>
        <p class="font-inter mx-auto mt-12 text-center text-base text-gray-500">
          Can’t find the answer you’re looking for? Reach out to our <a href=""
            >customer support team.</a
          >
        </p>
      </div>
    </section>

    <Hr />

    {
      featuredPosts.length > 0 && (
        <>
          <section id="featured">
            <h2>Featured</h2>
            <ul>
              {featuredPosts.map(({ data, slug }) => (
                <Card
                  href={`/posts/${slug}/`}
                  frontmatter={data}
                  secHeading={false}
                />
              ))}
            </ul>
          </section>
          {recentPosts.length > 0 && <Hr />}
        </>
      )
    }

    {
      recentPosts.length > 0 && (
        <section id="recent-posts">
          <h2>Recent Posts</h2>
          <ul>
            {recentPosts.map(
              ({ data, slug }, index) =>
                index < 4 && (
                  <Card
                    href={`/posts/${slug}/`}
                    frontmatter={data}
                    secHeading={false}
                  />
                )
            )}
          </ul>
        </section>
      )
    }

    <div class="all-posts-btn-wrapper">
      <LinkButton href="/posts/">
        All Posts
        <svg xmlns="http://www.w3.org/2000/svg"
          ><path
            d="m11.293 17.293 1.414 1.414L19.414 12l-6.707-6.707-1.414 1.414L15.586 11H6v2h9.586z"
          ></path>
        </svg>
      </LinkButton>
    </div>
  </main>

  <Footer />
</Layout>

<style>
  /* ===== Hero Section ===== */
  #hero {
    @apply pb-6 pt-8;
  }
  #hero h1 {
    @apply my-4 inline-block text-3xl font-bold sm:my-8 sm:text-5xl;
  }
  #hero .rss-link {
    @apply mb-6;
  }
  #hero .rss-icon {
    @apply mb-2 h-6 w-6 scale-110 fill-skin-accent sm:mb-3 sm:scale-125;
  }
  #hero p {
    @apply my-2;
  }
  .social-wrapper {
    @apply mt-4 flex flex-col sm:flex-row sm:items-center;
  }
  .social-links {
    @apply mb-1 mr-2 whitespace-nowrap sm:mb-0;
  }

  /* ===== Featured & Recent Posts Sections ===== */
  #featured,
  #recent-posts {
    @apply pb-6 pt-12;
  }
  #featured h2,
  #recent-posts h2 {
    @apply text-2xl font-semibold tracking-wide;
  }
  .all-posts-btn-wrapper {
    @apply my-8 text-center;
  }
</style>
